.main-banner {
  display: flex;
  margin-top: 5.75rem;
}

.banner-container {
  width: 45%;
  margin-left: auto;
}

.main-title {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 3.8125rem;
  line-height: 80px;
  margin-bottom: 1.6rem;
  color: var(--blue300);
}

.main-text {
  font-family: var(--poppins);
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 39px;
  margin-bottom: 2.8125rem;
  color: var(--grey600);
}

.banner-container-img {
  width: 50%;
  overflow: hidden;
}

.banner-container-img img {
  width: 71rem;
}

.main-button.-btn-buy {
  font-weight: 500;
  font-size: 2.25rem;
  padding: 13px 66px 14px;
}

.main-button.-btn-sell {
  font-weight: 500;
  font-size: 2.25rem;
  padding: 13px 69px 14px 68px;
  background-color: transparent;
  color: var(--blue200);
  border: 1px solid var(--blue200);
}

.gap-button {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 900px){
  .main-banner{
    margin-top: 2rem;
  }
  .banner-container{
    width: 90%;
    margin-inline: auto ;
  }
  .gap-button{
    justify-content: center;
  }
  .main-button.-btn-buy{
    width: 40%;
    font-size: 1.625rem;
  }
  .main-button.-btn-sell{
    width: 40%;
    font-size: 1.625rem;
  }
  .banner-container-img{
    display: none;
  }
}

@media screen and (max-width: 500px){
  .main-title{
    font-size: 2rem;
    line-height: 50px;
  }
  .main-text{
    font-size: 1.4rem;
    line-height: 30px;
  }
  .gap-button{
    flex-direction: column;

  }
  .main-button.-btn-buy{
    width: auto;

  }
  .main-button.-btn-sell{
    width: auto;

  }
}