.story-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: 9.875rem;
}

.story-box {
  width: 50%;
}

.main-title.-story-title {
  font-weight: 600;
  font-size: 2.875rem;
  width: 50%;
  line-height: 4.3125rem;
  color: var(--grey900);
}

.main-text.-story-text {
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 2rem;
  text-align: justify;
  color: var(--grey200);
}

.story-container-img {
  background: center / cover url(../images/pexels-tyler-wang.png);
  width: 29rem;
  height: 25rem;
  overflow: hidden;
}

.main-button.-story-btn {
  font-family: var(--poppins);
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding: 17px 30px;
  border-radius: 10px;
}

/*                SECOND BOX                 */

.story-box.-second-box {
  width: 40%;
}


.main-title.-second-title {
  width: auto;
}

.square-style {
  position: relative;
}

.second-img {
  width: 450px;
  height: 300px;
  overflow: hidden;
}

.story-cliente-img {
  width: 100%;
}

.square {
  position: absolute;
  top: 150px;
  right: 120px;
  width: 377px;
  height: 258px;
  z-index: -1;
  background: #FFFFFF;
  border: 25px solid #D1D1D1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.story-box-cliente {
  display: flex;
  justify-content: space-between;
}

.story-cliente-name {
  font-weight: 600;
  font-size: 30px;
  text-transform: capitalize;
  color: var(--blue300);
}

.story-cliente-span {
  font-size: 26px;
  font-weight: 600;
  color: var(--grey500);
}

.story-btn {
  padding: 13px 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--white200);
}

.story-btn.-next {
  background-color: var(--blue200);
}

@media screen and (max-width: 950px) {
  .story-container {
    gap: 2rem;
  }

  .main-title.-second-title {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .story-container {
    flex-direction: column;
  }

  .main-title.-story-title{
    width: 90%;
  }

  .story-box,
  .story-box.-second-box {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }

  .story-container-img {
    width: 90%;
    margin-inline: auto;
  }

  .second-img {
    margin-inline: auto;
    border: 25px solid #D1D1D1;
  }

  .square {
    display: none;
  }

  .main-title.-story-title.-second-title {
    font-size: 2rem;
  }
  .main-text.-story-text{
    font-size: 1.2rem;
  }


}

@media screen and (max-width: 600px) {
  .main-title.-story-title {
    font-size: 2rem;
  }

  .main-text.-story-text {
    font-size: 1.2rem;
  }
}